body {
  background-color: #4F8DC0;
}

.wrapper {
  margin-top: 2em;
}

.user_input {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  text-align: center;
  background-color: transparent;
  border: solid 1px white;
  color: white;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */   
  margin-top: 1em;
  font-size: 2em;
}
.user_input::-webkit-input-placeholder {
  font-size: .8em;
}

.user_input:-moz-placeholder { /* Firefox 18- */
  font-size: .8em;
}
.user_input::-moz-placeholder {  /* Firefox 19+ */
  font-size: .8em;
}

.user_input:-ms-input-placeholder {  
  font-size: .8em;
}

*:focus {
  outline: 0;
}

.input_container {
  text-align: center;
  cursor: pointer;
}

.btn_container {
  text-align: center;
  margin-top: 1em;
}

.btn_calculate {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  font-size: 3em;
}

.btn_calculate:hover {
  cursor: pointer;
}

